# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.cache

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Uploaded files
uploads/*

# Databases
*.sql
*.sqlite3
